@charset "ISO-8859-1";
/* styles.css */
body {
    font-family: Arial, sans-serif;
   background-color:rgb(237, 229, 229);;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
}

td {
    padding: 10px;
}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Add more styles as needed */
