<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
<servlet>
	<servlet-name>Customer</servlet-name>
	<servlet-class>com.customer.customerservlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Customer</servlet-name>
	<url-pattern>/insert</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>View</servlet-name>
	<servlet-class>com.customer.searchservlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>View</servlet-name>
	<url-pattern>/view</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Update</servlet-name>
	<servlet-class>com.customer.updatecustomerservlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Update</servlet-name>
	<url-pattern>/update</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>Delete</servlet-name>
	<servlet-class>com.customer.deletecustomerservlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Delete</servlet-name>
	<url-pattern>/delete</url-pattern>
</servlet-mapping>

</web-app>